{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}


{% if page.lang or page.language %}
<div class="sidebar sticky">
<h3>Tutorials By Language</h3>

{% for member in site.data.libs %}

{% assign counter = 0 %}
<!-- this code counts the number of posts associated with the member -->
{% for post in site.posts %}

	{% if post.lang contains member.lang %}
	{% assign counter = counter | plus: 1 %}
	{% endif %}
{% endfor %}
  <h5><a href="{{ site.url }}{{ site.baseurl }}/tutorials/software/{{ member.lang }}">{{ member.lang }} ({{ counter }})</a></h5>
{% endfor %}

<!-- list tutorials by library -->

{% unless page.layout contains 'single' %}
{% for member in site.data.libs %}

{% if page.language contains member.lang %}
 <h4>by {{ member.lang }} library</h4>
  {% for lib in member.libs %}
    {% assign counter = 0 %}
 <!-- this code counts the number of posts associated with the member -->
      {% for post in site.posts %}
        {% if post.lib contains lib %}
        {% assign counter = counter | plus: 1 %}
        {% endif %}
      {% endfor %}
      <h5><a href="{{ site.url }}{{ site.baseurl }}/tutorials/software/{{ member.lang }}/{{ lib }}">{{ lib }} ({{ counter }})</a></h5>
  {% endfor %}
  {% endif %}
{% endfor %}
{% endunless %}


</div>
{% endif %}
